.container-fluid {
    padding: 0 !important;
}

.status-container {
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.Place {
    padding: 0.5rem;
    width: 100%;
    flex-basis: 16.66%;
}

.Place_title {
}

.Place_home {
    background-color: #f7be87;
}

.Place_work {
    background-color: #8ca4b1;
}

.Place_heading-home {
    background-color: #aacfaa;
}

.Place_gym {
    background-color: #f9dca9;
}

.Place_out {
    background-color: #f9bfa5;
}

.avatars-container {
    display: flex;
    margin-top: 0.25rem;
}

.UserAvatar {
    min-height: 1rem;
    min-width: 2.5rem;
    width: min-content;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 3px solid white;
    border-radius: 50%;
    text-align: center;
}

.LocationPicker__button {
    margin: 0.5rem;
}
